.admin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #e9be4566 !important;
  align-items: center;
  justify-content: center;

  &__table {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  &__h1 {
    font-weight: 500;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
  }

  &__data {
    width: 46vw;
    display: flex;
    height: 169px;
    margin: 2px;
    background: #f9f9f9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
    background: #f9f9f9;
    // box-shadow: 0px 1px 10px 4px rgb(0 0 0 / 5%);
  }

  &__table1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15rem;
    background-color: #f9f9f9;


  }

  &__table1main {
    flex-wrap: wrap;
    overflow: scroll;
    width: 22rem;
    height: 22rem;
    margin: 3px;

    &::-webkit-scrollbar {
      display: none;
    }

  }

  &__green {

    background-color: rgba(0, 128, 0, 0.664);
    padding: 8px;
    margin: 2px;
    border-radius: 10px;

    h1 {
      color: white !important;

      text-decoration: line-through;

    }

  }

  &__red {
    background-color: rgba(255, 0, 0, 0.808);
    padding: 8px;
    margin: 2px;
    border-radius: 10px;

    h1 {
      color: white !important;
    }

    span {
      color: #ffffffd1;
      text-decoration: underline;
    }
  }

  span {
    color: #ffffffd1;
  }

}

.button__y {
  border: none;
  width: 50px;

  h1 {

    border: none;
    width: 50px;
    background-color: green;
    border-radius: 10px;
    margin: 10px;

  }
}
.span__orderIncompleted {
  color: black !important;
  font-size: 1rem;
}
.span__green{
  color: green !important;
}.span__red{
  color: red !important;
}

.items{
  display: flex;
  justify-content: space-between;
}
.print__button{
  background-color: #3bbe00;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  width: 154px;
  height: 37px;
  margin: 10px;
  color: white;
}
@media print {

.modal__price{
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 24rem;
    height: 40rem;
    position: absolute;
    border: none     ;
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
.print__button{
  display: none;
}
}

.hidden{
display: none;
}

.modal__price{
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  height: 28rem;
  position: absolute;
  border: none     ;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
.print__wrapper{
  display: flex;
  justify-content: space-between;
}
.print__data{
display: flex;
flex-direction: column;

}