.admin {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__table {
    font-size: 2rem;
  }
  &__h1 {
    font-weight: 500;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  &__data {
    width: 46vw;
    display: flex;
    height: 169px;
    margin: 2px;
    background: #f9f9f9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
    background: #f9f9f9;
    // box-shadow: 0px 1px 10px 4px rgb(0 0 0 / 5%);
  }
}
