.menupage {
  background-color: #ffd321;

  &__product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 4px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
  }

  &__input {
    border: 1px solid;
  }

  &__section {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: column;

    label {
      padding-right: 10px;
    }

    input {
      width: 60vw;
      text-align: center;
      border-radius: 4px;
      padding: 5px;
    }
  }

  h1 {
    margin-left: 10px;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  //background-color: rgb(255, 255, 255);
  // box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
  align-items: center;

  &__logo {
    width: 50%;
  }

  &__table {
    position: absolute;
    right: 10px;
    top: 57px;
    font-size: .9rem;
  }
}

.success {
  background-color: green;
}

.cart {
  position: fixed;
  z-index: 10;
  top: 90vh;
  margin-left: 80vw;
}

.drawer {

  background-color: #F5F4F9!important;
  &__wrapper {
    width: 90%;
    margin: 5px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 8px 32px 0 rgba(224, 224, 224, 0.37);
    backdrop-filter: blur(20.0px);
    -webkit-backdrop-filter: blur(20.0px);
    border-radius: 10px;
  }

&__content{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  padding-top: 26px;
  min-height: 70vh;
}
&__scroll{
  overflow: scroll;
  height: 60vh;
  /* display: flex; */
  // flex-direction: column;
  display: grid;
  margin-left: 10px;
}
&__submit{
  
  background-color: #fe251ec7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  height: 37px;
  margin: 10px;
  color: white;
}
}