h1{
    font-family: gilroyextrabold, sans-serif;
}

.menuitems{
    /* width: 47.5vw; */
    display: flex;
    /* height: 251px; */
    border-radius: 10px;
    margin: 2px;
    background: #F9F9F9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
    
    //box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.05);

    &__img{
        // width:43%;
        // border-radius: 50%;
    }
    &__img2{
        width: 50%;
     
    }
    &__img3{
        width: 50%;
  }
    &__img4{
        width: 100%;
        left: 134px;
        position: relative;

    }

    &__input{
        width: 24px;
        border: none;

    }

    &__add{
        display: flex;
        margin: 4px;
    }
    &__button{
        border: none;
    }
    &__button1{
        border: none;
    }
    &__button2{
        position: relative;
        left: 100px;
        /* float: right; */
        display: flex;
        width: 114px;
        align-items: center;
        background-color: #F8F9FD;
        box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.05);

        justify-content: space-between;
    }
    &__button3{
        background-color: #ffffff;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        width: 40px;
    }
    &__button4{
        background-color: #ff7144;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        width: 40px;

    }
}
.catagory{
    display: flex;
    overflow-x:scroll;
    padding: 10px;

    &__wrapper{
        display: flex;
        background-color: #F56B00;
        margin: 10px;
        border-radius: 10px;
        color: white;
        min-width: 7rem;
        justify-content: center;
    }
   
    &__name {
        margin: 10px;
        color: white;
        font-weight: bold;
    }
    &__img {
       
    }

}
.submit{
    position: fixed;
    height: 67px;
    background-color: #F56B00;
    z-index: 10;
    width: 100%;
    top: 88%;
    color: white;
    width: 86vw;
    display: flex;
    align-items: center;
    border-radius: 40px;
    justify-content: center;
    margin-left: 6%;
    font-weight: bold;
    font-size:1.5rem;
}
.button__submit{
    display:none;
}
*{
    color: black;
}
.app {
    // background-color: #fef3c7;
    background-color: #ffd321;
}
