.menupage {
  background-color: #ffd321;
  &__product {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
  }

  &__input {
    border: 1px solid;
  }

  &__section {
    display: flex;
    justify-content: center;
    padding: 10px;
    label {
      padding-right: 10px;
    }
    input {
      width: 60vw;
      text-align: center;
      border-radius: 4px;
      padding: 5px;
    }
  }
  h1 {
    margin-left: 10px;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  //background-color: rgb(255, 255, 255);
  // box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
  align-items: center;
  &__logo {
    width: 50%;
  }
  &__table {
    position: absolute;
    right: 10px;
    top: 40px;
  }
}
