

.menuitems{
    /* width: 47.5vw; */
    // display: flex;
    // /* height: 251px; */
    // border-radius: 10px;
    // margin: 2px;
    // background: #F9F9F9;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // margin: 2px;
    // width: 47.5vw;
    // // display: flex;
    // height: 19rem;
    // border-radius: 10px;
    // margin: 2px;
    // background: #F9F9F9;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // margin: 2px;

    //box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.05);

//     width: 47.5vw;
// width: 47.5vw;
// height: 19rem;
// border-radius: 10px;
// margin: 2px;
// background: #ffffff;
// flex-direction: column;
// align-items: center;
// // justify-content: center;
// margin: 2px;
// display: flex;
    /* width: 47.5vw; */
    width: 47.5vw;
    // height: 20.5rem;
    border-radius: 10px;
    margin: 2px;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(248, 248, 248);
    box-sizing: border-box;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 0.4rem 1.6rem;
    

    &__h3{
        font-size: 0.8rem;
        padding: 0px 5px;
    }
    &__img2{
        width: 50%;
     
    }
    &__img3{
        width: 50%;
  }
    &__img4 {
        // width: 100%;
        // left: 60px;
        position: relative;
        // float: right;
        margin: 11px;
    }
    &__img{
        border-radius: 10px;
    }

    &__input{
        width: 24px;
        border: none;

    }

    &__add{
        display: flex;
        margin: 4px;
    }
    &__button{
        border: none;
    }
    &__button1{
        border: none;
    }
    &__button2{
        position: relative;
        // left: 29px;
        float: right;
        display: flex;
        width: 122px;
        align-items: center;
        background-color: #F8F9FD;
        box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.05);
        justify-content: space-between;
        // top: 29px;
        margin: 16px 0px;
    }
    &__button3{
        background-color: #ffffff;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 40px;
    
    }
    &__button4{
        background-color: #ff7144;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        width: 40px;

    }
}
.catagory{
    display: flex;
    overflow-x:scroll;
    padding: 10px;

    &__wrapper{
       
        // background: #F56B00;
        margin: 10px;
        border-radius: 10px;
        color: white;
        min-width: 8rem;
        justify-content: center;
        height: 3.4rem;

    }
    // img{
    //     background-color: #0000;
    //     border-radius: 10px;
    //     color: white;
    //     min-width: 7rem;
    //     height: 3.4rem;
    //     object-fit: cover;
 
    // }

    &__span{
        position: relative;
        color: white;
        top: -47px;
        left: 36px;
    }

    &__name {
        margin: 10px;
        color: white;
        font-weight: bold;
    }
    &__img {
       
    }

}
.submit{
    position: fixed;
    height: 67px;
    background-color: #F56B00;
    z-index: 10;
    width: 100%;
    top: 88%;
    color: white;
    width: 86vw;
    display: flex;
    align-items: center;
    border-radius: 40px;
    justify-content: center;
    margin-left: 6%;
    font-weight: bold;
    font-size:1.5rem;
}
.button__submit{
    display:none;
}
// *{
//     color: black;
// }
// .app {
//     // background-color: #fef3c7;
//     background-color: #ffd321;
// }
*::-webkit-scrollbar {
    display: none;
  }
  @media (min-width: 768px){
    .menuitems{
        /* width: 47.5vw; */
        // display: flex;
        // /* height: 251px; */
        // border-radius: 10px;
        // margin: 2px;
        // background: #F9F9F9;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // margin: 2px;
        // width: 47.5vw;
        // // display: flex;
        // height: 19rem;
        // border-radius: 10px;
        // margin: 2px;
        // background: #F9F9F9;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // margin: 2px;
    
        //box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.05);
    
    width: auto;
    border-radius: 10px;
    margin: 2px;
    background: #Ffffff;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    margin: 2px;
    display: flex;

    &__button2{
        
    margin: 14px 0px;
    }
        &__img4{
          
                position: relative;
                
            
        }
    }
    .menuitems__h3 {
        font-size: 1rem;
        padding: 0px 5px;
      }
    
  }