.menupage {
  // background-color: #ff2121;
  // background-color: #ff1a14c2;
  // color: white;
background-color: #FFFFFF;
  &__product {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    padding: 4px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
  }

  &__input {
    border: 1px solid;
  }


  &__section {
    display: flex;
    justify-content: center;
    padding: 23px 0px;
    flex-wrap: wrap;
    align-items: center;
    // flex-direction: column;

    label {
      padding-right: 10px;
    }

    input {
      width: 60vw;
      text-align: center;
      border-radius: 4px;
      padding: 5px;
    
        box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
        border: 1px solid rgb(232, 232, 232);
    }
  }

  h1 {
    margin-left: 10px;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  //background-color: rgb(255, 255, 255);
  // box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
  align-items: center;

  &__logo {
    width: 50%;
  }

  &__table {
    position: absolute;
    right: 10px;
    top: 65px;
    font-size: .9rem;
  }
}

.success {
  background-color: green;
}

.cart {
  position: fixed;
  z-index: 10;
  top: 89vh;
  height: 11vh;
  background-color: white;
  display: flex;
  width: 100%;
  align-items: center;
  /* border: .9px solid grey; */
  border-top-width: 1px;
  transition: all 0.3s ease-in-out;
  transition: 2s ease-out;

  &__wrapper {
    background-color: #ff3131;
    margin-left: 5vw;
    height: 8vh;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
  }

  // position: fixed;
  // z-index: 10;
  // top: 90vh;



  &__content {
    display: flex;
    flex-direction: column;
  }

}

.drawer {

  background-color: #F5F4F9 !important;

  &__wrapper {
    width: 90%;
    margin: 5px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 8px 32px 0 rgba(224, 224, 224, 0.37);
    backdrop-filter: blur(20.0px);
    -webkit-backdrop-filter: blur(20.0px);
    border-radius: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 26px;
    min-height: 70vh;
  }

  &__scroll {
    overflow: scroll;
    height: 60vh;
    display: flex;
    flex-direction: column;
    // display: grid;
    margin-left: 10px;
  }

  &__submit {
    background-color: #3bbe00;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    height: 37px;
    margin: 10px;
    color: white;
  }
}

.menupage__section1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

.cartdesktop {
  display: none;
}

@media (min-width: 768px) {
  .nav__logo {
    width: 265px;
    margin: 22px 0px 0px 0px;
  }

  .drawer {
    display: none;
  }

  .cart {
    display: none;
  }

  .menupage__section1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    width: 60vw;
    margin-left: 11vw;
    // flex-direction: column;
    
  }

  .menupage__input1 {
    width: 20vw;
  }

  .cartdesktop {
    display: unset;
    float: right;
    margin-top: -55px;
    margin-right: 79px;
    width: 58px;
  }

  .cart__off {
    display: none;
  }

  .cart__on {
    position: relative;
    float: right;
    top: -69px;
    right: 95px;
    width: 29px;
    height: 26px;
    background: orange;
    border-radius: 81%;
    display: flex !important;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .nav__table{
    position: absolute;
    right: 91px;
    top: 74px;
    font-size: .9rem;

  }
  .menupage h1 {
    margin-left: 32px;
}

}

.cart__off {
  display: none;
}

.cart__on {
  display: none;
}

.off{
  display: none;
}
.on{

}