@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');


*,
html,
#root {
  margin: 0;
}

body {
  margin: 0;
  /* font-family: "Otomanopee One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Baloo Tamma 2', cursive;
  font-family: "'Lato', sans-serif";
}
